#foot {
  
    font-family: helvetica;
    
    
  }
  #foot {
    color:rgb(31, 31, 31);
    font-family: helvetica;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
  }
  
  #foot:hover {
    text-decoration: underline;
  }
  
  #foot:active {
    color: rgb(78, 78, 78);
  }
  
  #foot:visited {
    color: rgb(118, 49, 175);
  }