#foot {
    color:rgb(63, 63, 63);
    font-family: helvetica;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  #foot:hover {
    text-decoration: underline;
  }
  
  #foot:active {
    color: black;
  }
  
  #foot:visited {
    color: rgb(150, 150, 150);
  }

  .buttonEnterClasses{
    text-align: center;
    background-color: #525252 !important;
    color: #fff !important;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 0;
      margin-top: 0px;
      margin-bottom: 0px;
      border: none;
      border-radius: 5px;
      overflow: visible;
      font: inherit;
      font-size: inherit;
      line-height: inherit;
      color: inherit;
      text-transform: none;
      
      box-sizing: border-box;
      padding: 0 30px;
      vertical-align: middle;
      font-size: .875rem;
      line-height: 38px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      transition: .1s ease-in-out;
      transition-property: all;
      transition-property: color,background-color,border-color; 
      touch-action: manipulation;
  }
  
  .buttonEnterClasses a:hover {
    opacity:1;
  }
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 48%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }